# Created by .ignore support plugin (hsz.mobi)
.idea
.gitignore
.mvn/
mvnw
mvnw.cmd
pom.xml
src/main/java/com/chukyotech/server/ServerApplication.java
src/main/resources/application.properties
src/main/resources/static/
src/test/
