<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="margin-top: 30px">
<div>
    <div style="text-align: center;margin:0 auto;width: 1000px; ">
        <a href="/"><img src="../static/images/walking-chicken.jpg" width="80" height="80" style="vertical-align: middle" alt="Image not found"></a>
        <span style="vertical-align: middle; margin-left: 20px; font-size: 35px">中京国际后台管理系统</span>
    </div>
    <div style="border-style: solid; margin-top: 10px"></div>

    <div style="margin-top: 50px; margin-left: 100px; float: left">
        <table border="1">
            <tr>
                <td width="150px" height="550px">
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="adminLogin"><button style="width: 120px">管理员登录</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="adminRegisterPage"><button style="width: 120px">管理员注册</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="adminLogin"><button style="width: 120px">修改管理员密码</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userRegister"><button style="width: 120px">会员注册</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userSelect"><button style="width: 120px">会员查询</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userUpdatePage"><button style="width: 120px">修改会员信息</button></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 50px; margin-left: 10px; float: left">
        <table border="1" style="text-align: center">
            <tr>
                <td width="1000px" height="550px">
                    <h1>请注册管理员</h1>
                    <!--/*@thymesVar id="admin" type="com.chukyotech.server.admin.Admin"*/-->
                    <form action="adminRegister" method="post" th:object="${admin}">
                        <p>用户名：<input type="text" name="adminName"></p>
                        <p>密码：&nbsp;&nbsp;&nbsp;<input type="text" name="adminPass"></p>
                        <!--<p>确认密码：<input type="text" name="adminPass"></p>-->
                        <p><input type="submit" name="submit" value="注册"></p>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>