<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="margin-top: 50px">
<div>
    <div style="text-align: center">
        <h1>中京国际后台管理系统</h1>
        <div style="border-style: solid; margin-top: 10px"></div>
    </div>

    <div style="margin-top: 50px; margin-left: 100px; float: left">
        <table border="1">
            <tr>
                <td width="150px" height="550px">
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="/">首页</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="adminLogin">管理员登录</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="adminRegisterPage">管理员注册</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="adminLogin">修改管理员密码</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="userRegister">会员注册</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="userSelect">会员查询</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="">修改会员信息</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 50px; margin-left: 10px; float: left">
        <table border="1" style="text-align: center">
            <tr>
                <td width="1000px" height="550px">
                    <h1>请注册管理员</h1>
                    <!--/*@thymesVar id="admin" type="com.chukyotech.server.admin.Admin"*/-->
                    <form action="adminRegister" method="post" th:object="${admin}">
                        <p>用户名：<input type="text" name="adminName"></p>
                        <p>密码：&nbsp;&nbsp;&nbsp;<input type="text" name="adminPass"></p>
                        <!--<p>确认密码：<input type="text" name="adminPass"></p>-->
                        <p><input type="submit" name="submit" value="注册"></p>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>