<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>中京</title>
</head>
<body style="margin-top: 30px; background: #008793">
<div>
    <div style="text-align: center;margin:0 auto;width: 1000px; ">
        <a href="/"><img src="../static/images/chicken.png" width="80" height="80" style="vertical-align: middle" alt="Image not found"></a>
        <span style="vertical-align: middle; margin-left: 20px; font-size: 35px">中京国际后台管理系统</span>
    </div>
    <div style="border-style: solid; margin-top: 10px"></div>

    <div style="margin-top: 50px; margin-left: 100px; float: left">
        <table border="1">
            <tr>
                <td width="150px" height="550px">
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="adminLogin"><button style="width: 120px">管理员登录</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="adminRegisterPage"><button style="width: 120px">管理员注册</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="adminLogin"><button style="width: 120px">修改管理员密码</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userRegister"><button style="width: 120px">会员注册</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userSelect"><button style="width: 120px">会员查询</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userUpdatePage"><button style="width: 120px">修改会员信息</button></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 50px; margin-left: 10px; float: left">
        <table border="1" style="text-align: center">
            <tr>
                <td width="1000px" height="550px">
                    <h1>欢迎登录中京国际后台管理平台！</h1>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>