<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="text-align: center; margin-top: 200px">
<div style="margin: auto">
    <h1>欢迎登录中京国际后台管理系统</h1>

    <!--/*@thymesVar id="user" type="com.chukyotech.server.user.User"*/-->
    <form action="user" method="post" th:object="${user}">
        <p>姓名：<input type="text" name="name"></p>
        <p>年龄：<input type="text" name="age"></p>
        <p>技术：<input type="text" name="language"></p>
        <p>电话：<input type="text" name="phone"></p>
        <p><input type="submit" name="提交"></p>
    </form>
</div>
</body>
</html>