<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="margin-top: 50px">
<div>
    <div style="text-align: center">
        <h1>中京国际后台管理系统</h1>
        <div style="border-style: solid; margin-top: 10px"></div>
    </div>

    <div style="margin-top: 50px; margin-left: 100px; float: left">
        <table border="1">
            <tr>
                <td width="150px" height="550px">
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="/">首页</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="adminLogin">管理员登录</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="adminRegisterPage">管理员注册</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="adminLogin">修改管理员密码</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="userRegister">会员注册</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="userSelect">会员查询</a>
                    </div>
                    <div style="margin-left: 10px; padding-top: 30px">
                        <a href="userUpdatePage">修改会员信息</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 50px; margin-left: 10px; float: left">
        <table border="1" style="text-align: center">
            <tr>
                <td width="1000px" height="550px">
                    <h1>查询会员</h1>
                    <div>
                        <table border="1" width="1000px">
                            <thead>
                            <th>ID</th>
                            <th>姓名</th>
                            <th>年龄</th>
                            <th>电话</th>
                            <th>住址</th>
                            <th>技术</th>
                            <th>邮箱</th>
                            </thead>
                            <tbody>
                            <tr th:each="user:${userList}">
                                <!--/*@thymesVar id="count" type="com.chukyotech.server.user.User"*/-->
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getUserName()}"></td>
                                <td th:text="${user.getUserAge()}"></td>
                                <td th:text="${user.getUserPhone()}"></td>
                                <td th:text="${user.getUserAddres()}"></td>
                                <td th:text="${user.getUserLanguage()}"></td>
                                <td th:text="${user.getUserEmail()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>