<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="margin-top: 30px; background: #008793">
<div>
    <div style="text-align: center;margin:0 auto;width: 1000px; ">
        <a href="/home"><img src="../static/images/chicken.png" width="80" height="80" style="vertical-align: middle" alt="Image not found"></a>
        <span style="vertical-align: middle; margin-left: 20px; font-size: 35px">中京国际后台管理系统</span>
        <span style="float: right; margin-right: 5px">欢迎<!--/*@thymesVar id="adminName" type=""*/-->
        <span th:text="${adminName}" style="color: white; font-weight: bold"></span>登录！</span>
    </div>
    <div style="border-style: solid; margin-top: 10px"></div>

    <div style="margin-top: 50px; margin-left: 100px; float: left">
        <table border="1">
            <tr>
                <td width="150px" height="550px">
                    <div style="width: 150px; height: 550px">
                        <div style="">
                            <a href="/userSelect">
                                <button style="width: 150px; height: 30px">会员管理</button>
                            </a>
                        </div>
                        <div style="padding-top: 30px">
                            <a href="userRegister">
                                <button style="width: 150px; height: 30px">会员注册</button>
                            </a>
                        </div>
                        <div style="padding-top: 30px">
                            <a href="userSelect">
                                <button style="width: 150px; height: 30px">会员查询</button>
                            </a>
                        </div>

                        <div style="padding-top: 30px">
                            <a href="userUpdatePage">
                                <button style="width: 150px; height: 30px">修改会员信息</button>
                            </a>
                        </div>
                        <div style="padding-top: 310px">
                            <a href="/">
                                <button style="width: 150px; height: 30px">退出</button>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 50px; margin-left: 10px; float: left">
        <table border="1" style="text-align: center">
            <tr>
                <td width="1000px" height="550px">
                    <h1>请输入要修改的会员信息</h1>
                    <!--/*@thymesVar id="user" type="com.chukyotech.server.user.User"*/-->
                    <form action="userUpdate" method="post" th:object="${user}">
                        <p>ID：&nbsp;&nbsp;&nbsp;<input type="text" name="id"></p>
                        <p>姓名：<input type="text" name="userName"></p>
                        <p>年龄：<input type="text" name="userAge"></p>
                        <p>电话：<input type="text" name="userPhone"></p>
                        <p>住址：<input type="text" name="userAddres"></p>
                        <p>技术：<input type="text" name="userLanguage"></p>
                        <p>邮箱：<input type="text" name="userEmail"></p>
                        <p><input type="submit" value="更改"></p>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>
