<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="margin-top: 30px; background: #008793">
<div>
    <div style="text-align: center;margin:0 auto;width: 1000px; ">
        <a href="/home"><img src="../static/images/chicken.png" width="80" height="80" style="vertical-align: middle"
                             alt="Image not found"></a>
        <span style="vertical-align: middle; margin-left: 20px; font-size: 35px">中京国际后台管理系统</span>

        <div style="float: right">
            <a href="/"><button style="width: 40px; height: 20px">退出</button></a>
        </div>
        <span style="float: right">欢迎<!--/*@thymesVar id="adminName" type=""*/-->
        <span th:text="${adminName}" style="color: orange; font-weight: bold;"></span>登录！</span>
    </div>
    <div style="border-style: solid; margin-top: 10px"></div>

    <div style="margin-left: 200px">
        <h1>会员管理</h1>
        <div>
            <table border="1" width="1000px" style="text-align: center">
                <div style="">
                    <a href="/userRegisterPage">
                        <button>会员注册</button>
                    </a>
                </div>
                <thead>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>电话</th>
                <th>住址</th>
                <th>技术</th>
                <th>邮箱</th>
                <th>操作</th>
                </thead>
                <tbody>
                <!--/*@thymesVar id="userList" type="com.chukyotech.server.user.User"*/-->
                <tr th:each="user:${userList}">
                    <!--/*@thymesVar id="count" type="com.chukyotech.server.user.User"*/-->
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getUserName()}"></td>
                    <td th:text="${user.getUserAge()}"></td>
                    <td th:text="${user.getUserPhone()}"></td>
                    <td th:text="${user.getUserAddres()}"></td>
                    <td th:text="${user.getUserLanguage()}"></td>
                    <td th:text="${user.getUserEmail()}"></td>
                    <td>
                        <a th:href="@{/userDelete/(id=${user.getId()})}">
                            <button>删除</button>
                        </a>
                        <a th:href="@{/userUpdatePage/(id=${user.getId()})}">
                            <button>更改</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>