<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="margin-top: 30px; background: #008793">
<div>
    <div style="text-align: center;margin:0 auto;width: 1000px; ">
        <a href="/home"><img src="../static/images/chicken.png" width="80" height="80" style="vertical-align: middle" alt="Image not found"></a>
        <span style="vertical-align: middle; margin-left: 20px; font-size: 35px">中京国际后台管理系统</span>
    </div>
    <div style="border-style: solid; margin-top: 10px"></div>

    <div style="margin-top: 50px; margin-left: 100px; float: left">
        <table border="1">
            <tr>
                <td width="150px" height="550px">
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userRegister"><button style="width: 120px; height: 30px">会员注册</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userSelect"><button style="width: 120px; height: 30px">会员查询</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="userUpdatePage"><button style="width: 120px; height: 30px">修改会员信息</button></a>
                    </div>
                    <div style="margin-left: 15px; padding-top: 30px">
                        <a href="/"><button style="width: 120px; height: 30px">退出</button></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 50px; margin-left: 10px; float: left">
        <table border="1" style="text-align: center">
            <tr>
                <td width="1000px" height="550px">
                    <h1>查询会员</h1>
                    <div>
                        <table border="1" width="1000px">
                            <thead>
                            <th>ID</th>
                            <th>姓名</th>
                            <th>年龄</th>
                            <th>电话</th>
                            <th>住址</th>
                            <th>技术</th>
                            <th>邮箱</th>
                            </thead>
                            <tbody>
                            <tr th:each="user:${userList}">
                                <!--/*@thymesVar id="count" type="com.chukyotech.server.user.User"*/-->
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getUserName()}"></td>
                                <td th:text="${user.getUserAge()}"></td>
                                <td th:text="${user.getUserPhone()}"></td>
                                <td th:text="${user.getUserAddres()}"></td>
                                <td th:text="${user.getUserLanguage()}"></td>
                                <td th:text="${user.getUserEmail()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>